<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/stylesheets/output.css" rel="stylesheet">
</head>
<body>

<div class="w-full min-h-screen bg-zinc-900 text-white p-3 flex flex-col gap-2">

    <a href="/" class="text-blue-400">Back to homepage</a>
    <div class="ms-3">
        <h1 class="text-2xl tracking-tighter"> <%= fileName%> </h1>
        <pre class="mt-2"><%= fileData %></pre>
    </div>

</div>

</body>
</html>