
<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-w8dth, initial-scale=1.0">
  <link href="/stylesheets/output.css" rel="stylesheet">
</head>
<body>
    
    <div class="w-full text-white min-h-screen bg-zinc-900 p-4">
      <h3 class="tracking-tighter text-2xl">Create Account</h3>
      <form action="/register" method="post" class="flex gap-3 mt-4">
        <input class="px-4 py-2 rounded-2xl outline-none border border-gray-500" type="text" placeholder="name" name="name">
        <input class="px-4 py-2 rounded-2xl outline-none border border-gray-500" type="text" placeholder="username" name="username">
        <input class="px-4 py-2 rounded-2xl outline-none border border-gray-500" type="password" placeholder="password" name="password">
        <input class="px-4 py-2 rounded-2xl outline-none border border-gray-500" type="email" placeholder="email" name="email">
        <input class="px-4 py-2 rounded-2xl outline-none border border-gray-500" type="number" placeholder="age" name="age">
       <div class="flex gap-2 justify-center items-center">
         <button  type="submit" class="bg-blue-500 px-4 py-2 cursor-pointer rounded-2xl ">Create Account</button>
        <a href="/login" class="bg-red-600 rounded-2xl px-4 py-2 cursor-pointer">Login Page</a>
       </div>
      </form>
    </div>

</body>
</html>