<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/stylesheets/output.css" rel="stylesheet">
</head>
<body>
    
    <div class="w-full text-white min-h-screen bg-zinc-900 p-4">
      <h3 class="text-2xl tracking-tight mb-3">Login Your Account</h3>
      <form action="/login" method="post" class="flex gap-3">
        <input type="email"  class="px-4 py-2 rounded-2xl outline-none border border-gray-500" placeholder="email" name="email">
        <input type="password" class="px-4 py-2 rounded-2xl outline-none border border-gray-500"  placeholder="password" name="password">
        <button type="submit" class="bg-blue-500 rounded-2xl px-3 py-2">Login Account</button>
      </form>
    </div>

</body>
</html>